.box-shopping-cart {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e3e3;
    @media (max-width: 500px) {
        display: flex;
        justify-content: center;
    }
    .title {
        padding: 0 0px 20px 20px;
        font-family: sans-serif;
        font-weight: 800;
    }
    thead {
        width: 20%;
        tr {
            display: flex;
            justify-content: space-around;
            td {}
        }
    }
}
.board {
    display: flex;
    justify-content: center;
    table {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        tbody{
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 0 auto;
            flex-direction: column;
            .name-food {
                display: flex;
                padding: 10px 0 0 10px;
                @media (max-width: 840px) {
                    // grid-template-columns: repeat(3, 170px);
                }
                @media (max-width: 500px) {
                    // grid-template-columns: repeat(3, 100px);
                }
                .name-box {
                    width: 100%;
                    display: flex;
                    .name {
                        padding-right: 15px;
                    }
                    .category {
                        color: #9db5ec;
                    }
                    td {
                        display: flex;
                        justify-content: flex-start;
                    }
                    button {
                        cursor: pointer;
                        background-color: transparent;
                        border: 0;
                        width: 28px;
                        border-radius: 20px;
                    }
                    button:focus {outline:0;}
                }
                .flex-space {
                    display: flex,;
                    justify-content: space-around;
                    width: 20%;
                    td {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

        tfoot {
            padding-top: 10px;
            .footer-box {
                display: flex;
                justify-content: flex-start;
                padding: 10px 10px 15px 10px;
                border-top: 1px solid #e8e3e3;
                td {
                    display: flex;
                    flex-direction: column;
                    .total {
                        font-family: sans-serif;
                        font-weight: 800;
                    }
                    app-check-voucher {
                        padding: 10px 0 10px 0;
                    }
                    .discount-price {
                        padding: 2px 0 5px 0;
                        font-family: sans-serif;
                        font-size: .8em;
                        color: #adadad;
                    }
                    .top {
                        padding: 5px 0 2px 0;
                    }
                    .price-total {
                        font-family: sans-serif;
                        color: #9DB6EC;
                        font-weight: 600;
                        font-size: 1.5em;
                    }
                }
            }
        }

    }
}

.empty-box {
    display: flex;
    padding: 20px;
    justify-content: center;
    color: #c8c8ca;
}