<div class="box-shopping-cart">
    <span class="title">
      Shopping Cart <span class="">({{shoppingCart.length}}) product(s)</span>
    </span>
  </div>
  
  <div *ngIf="shoppingCart.length>0;else shoppingCartvaciotmpl">
    <table class="">
      <thead>
        <tr>
          <td style="width:20%">Ud.</td>
          <td>Product</td>
          <td>Price</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of shoppingCart">
          <td  class="">
            <span>1</span>
          </td>
          <td>{{item.titulo}}</td>
          <td>{{item.precio}}€</td>
        </tr>
      </tbody>
      <tfoot>
          <tr class="">
            <td colspan="2"></td>
            <td>
              Total: total €
            </td>
          </tr>
      </tfoot>
    </table>
  </div>
  
  <ng-template #shoppingCartvaciotmpl>
    <div class="">
      <strong>The shopping cart is empty.</strong>
    </div>
  </ng-template>
  