<div class="box-shopping-cart">
  <span class="title">
    Shopping Cart <span class="">({{shoppingCart.length}}) product(s)</span>
  </span>
  <thead>
      <tr class="title-food-box">
        <td>Quantity</td>
        <td>Price</td>
      </tr>
    </thead>
</div>
  
<div *ngIf="shoppingCart.length>0;else shoppingCartvaciotmpl" class="board">
  <table>
    <!-- Titles -->
    <!-- <thead>
      <tr class="title-food-box">
        <td>Ud.</td>
        <td>Product</td>
        <td>Price</td>
      </tr>
    </thead> -->
    <!-- Shopping Cart -->
    <tbody>
      <tr *ngFor="let item of shoppingCart" class="name-food">
        <div class="name-box">
          <td>{{item.name}}</td>
          <button (click)="removeProduct(item)" ><em class="fa fa-trash fa-lg"></em></button>
        </div>
        <div class="flex-space">
          <td>
            <span>1</span>
          </td>
          <td>{{item.price}}{{item.coin}}</td>
        </div>
      </tr>
    </tbody>
    <!-- finaly result -->
    <tfoot>
        <tr class="footer-box">
          <td colspan="2"></td>
          <td>Total: {{total}}£</td>
        </tr>
    </tfoot>
  </table>
</div>

<ng-template #shoppingCartvaciotmpl class="ng-template">
  <div class="empty-box">
    <strong>The shopping cart is empty.</strong>
  </div>
</ng-template>
  