.search {
  background-color: #f4f4f5;
  border-radius: 20px;
  border: 0;
  width: 100vw;
  max-width: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &:focus {
    outline: none;
    background-color: #ebebef;
  }
}
