<!-- [routerLink] = "['/detail', food.foodId]" -->
<div class="project">
  <div class="image"></div>
  <div class="textContent">
    <div class="header-box">
      <p class="category">{{food.category}}</p>
      <p class="price">{{food.price}}{{food.coin}}</p>
      <h5 class="description">{{food.description}}</h5>
      <h4 class="title">{{food.name}}</h4>
      <div class="button-box">
        <button (click)="addProduct(food)" class="addButton">Add</button>
      </div>
    </div>
  </div>
</div>
