.detail {
  .image {
    background: url('../../../assets/img-ciudad.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    margin-right: 20px;
    background-repeat: no-repeat;
  }
}
